.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #101010;
  }
  
  .button {
    background: #383b3a;
    color: #9CA3AF;
    border: 2px solid #9CA3AF;
    border-radius: 5px; 
    transition: background 400ms ease-out,
    color 400ms ease-out; 
    padding: 15px 20px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
  }
  
  .button:hover {
    background: #9CA3AF;
    color: #383b3a;
    border-radius: 5px; 
  }


